.met-slider {
    min-width: 22rem;

    &__description {
        width: 110%;
        transform: translateX(-5%);
        margin-top: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: var(--text-size-xs);
        color: var(--text-general);

        &-min {
        }
        &-max {
        }
    }

    &__value {
        position: absolute;
        transform: translateX(-50%);
        font-size: var(--text-size-xs);
        color: var(--text-general);

        &-container {
            position: relative;
            min-height: 2rem;
        }
    }

    &__handler {
        height: 2.2rem;
        width: 2.2rem;
        transform: translate(-50%, -8%) !important;
        background-color: $color-white;
        border: solid 0.4rem $color-darkblue;

        &:active,
        &:hover,
        &:focus {
            background-color: $color-white;
            border: solid 0.4rem $color-darkblue;
            box-shadow: none;
        }

        &-dot {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 1rem;
            width: 1rem;
            border-radius: 25px;
            background-color: $color-green;
        }
    }
}
