.about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    &__darkmode {
        cursor: pointer;
    }

    &__language {
        font-size: var(--text-size-xs);
        color: var(--text-general);
    }

    &__element {
        margin-top: 2rem;
    }

    a {
        color: var(--text-general);
        margin-top: 1rem;
        font-size: var(--text-size-xs);
        text-decoration: none;
    }
}
