$color-blue1: #0090da;
$color-blue2: #007abc;
$color-darkblue: #0061a0;
$color-green: #a4ce4e;
$color-black: #000000;
$color-white: #ffffff;
$color-darkestgray: #333333;
$color-darkgray: #75787b;
$color-mediumgray: #a7a8aa;
$color-gray: #d9d9d6;
$color-lightgray: #f2f2f2;
$color-berry: #db0a5b;
$color-purple: #5f259f;
$color-yellow: #ffc600;
$color-teal: #00aca0;
