@font-face {
    font-family: 'Metlife Circular';
    font-weight: normal;
    src: url('../assets/fonts/MetLifeCircular-Normal.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: normal;
    src: url('../assets/fonts/NotoSans-Regular.ttf') format('truetype');
}
