:host,
:root {
    // Text sizes
    --text-size-xxxs: 1rem;
    --text-size-xxs: 1.2rem;
    --text-size-xs: 1.4rem;
    --text-size-s: 1.6rem;
    --text-size-sm: 2rem;
    --text-size-m: 2.4rem;
    --text-size-l: 3.2rem;
    --text-size-xl: 4.8rem;
    --text-size-xxl: 6.4rem;

    //Line Height
    --text-lh-xs: 1.25;
    --text-lh-s: 1.4;
    --text-lh-m: 1.5;
    --text-lh-l: 1.75;

    //Font Weight
    --text-weight-lighter: lighter;
    --text-weight-normal: normal;
    --text-weight-bold: bold;
    --text-weight-bolder: bolder;

    .theme--light {
        --text-general: #{$color-black};
        --text-disabled: #{$color-gray};
        --text-button: #{$color-white};
        --text-error: #{$color-berry};

        --border-general: #{$color-darkgray};

        --background-general: #{$color-white};
        --background-hover: #{$color-lightgray};
    }
    .theme--dark {
        --text-general: #{$color-white};
        --text-disable: #{$color-lightgray};
        --text-button: #{$color-white};
        --text-error: #{$color-berry};

        --border-general: #{$color-darkgray};

        --background-general: #{$color-black};
        --background-hover: #{$color-lightgray};
    }
}
