.met-notification {
    $this: '.met-notification';
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    max-width: 60rem;
    width: 100%;

    &--mobile {
        max-width: 25rem;
    }
    &--bottom-right {
        bottom: 1rem;
        right: 1rem;
    }
    &--top-right {
        top: 1rem;
        right: 1rem;
    }
    &--bottom-left {
        bottom: 1rem;
        left: 1rem;
    }
    &--top-left {
        top: 1rem;
        left: 1rem;
    }
    &--error {
        background-color: $color-berry;
    }
    &--info {
        background-color: $color-darkblue;
    }
    &--feedback {
        background-color: $color-green;
    }
    &--visible {
        opacity: 1;
        transition: transform 0.2s linear, opacity 0.2s linear;
    }
    &--invisible {
        opacity: 0;
        transition: transform 0.2s linear, opacity 0.2s linear;
    }
    &__top {
        &#{$this}--invisible {
            transform: translateY(-100%);
        }
        &#{$this}--visible {
            transform: translateY(0);
        }
    }
    &__bottom {
        &#{$this}--invisible {
            transform: translateY(100%);
        }
        &#{$this}--visible {
            transform: translateY(0);
        }
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    &__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    &__icon {
        margin-right: 1rem;
    }
    &__message {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $color-white;
        font-size: var(--text-size-xs);

        &--mobile {
            display: flex;
            flex-direction: column;
            color: $color-white;
            font-size: var(--text-size-xxxs);
        }
    }
    &__close {
        width: 1.2rem;
        height: 1.2rem;
        cursor: pointer;
    }
    &__text {
        font-weight: bold;
        color: $color-white;
        font-size: var(--text-size-xs);
        margin-right: 1rem;

        &--mobile {
            margin-bottom: 1rem;
        }
    }
    &__subtext {
        font-weight: normal;
        color: $color-white;
        font-size: var(--text-size-xxs);
    }
    &__link {
        text-decoration: underline;
        color: $color-white;
        font-size: var(--text-size-xxs);
    }
}
