.met-notification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    max-width: 60rem;
    width: 100%;

    &--error {
        background-color: $color-berry;
    }
    &--info {
        background-color: $color-darkblue;
    }
    &--feedback {
        background-color: $color-green;
    }
    &--invisible {
        display: none;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    &__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    &__icon {
        margin-right: 1rem;
    }
    &__message {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $color-white;
        font-size: var(--text-size-xs);

        &--mobile {
            display: flex;
            flex-direction: column;
            color: $color-white;
            font-size: var(--text-size-xxxs);

            & a {
                text-decoration: underline !important;
                color: $color-white !important;
                font-size: var(--text-size-xxs) !important;
            }
        }
        & a {
            text-decoration: underline !important;
            color: $color-white !important;
            font-size: var(--text-size-xs) !important;
        }
    }
    &__close {
        width: 1.2rem;
        height: 1.2rem;
        cursor: pointer;
    }
    &__text {
        font-weight: bold;
        color: $color-white;
        font-size: var(--text-size-xs);
        margin-right: 1rem;

        &--mobile {
            margin-bottom: 1rem;
        }
    }
}
